@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
body {
background-color:#f4f4f4;
font-family: 'Roboto Condensed', sans-serif;
}

#main {
  background-color: #ccccb3;
  margin: 0 auto;
  border-radius: 8px;
  width: 100%;
  max-width: 900px;
  padding-top: 40px;
}
.row{
background-color:#9fdfbe;
border-radius: 8px;
padding: 5px 5px 5px 5px;
font-size: 18px;
} 
.column {
margin-top: 10px;
padding: 5px 5px 5px 15px;
display: inline-block;
font-size: 18px;
}
h1 {color:#4775d1;}
p, h1 {
text-align: center;
}
h1 {font-size: 40px;}
p {font-size: 25px;}
.dropdown {background-color:#ffe5cc;}
#opt {line-height: 20px;}
#submit {
  background-color: #009900;
  border-radius: 6px;
  color: white;
  font-size: 1.5em;
  height: 50px;
  width: 150px;
  border: 0px solid;
  margin: 0 auto;
  display: block;
}


#comments {
 border: 2px solid;
  padding: 30px; 
  width: 300px;
  resize: both;
  overflow: auto;
}  
.userChoice {
float:left;
} 
/*footer {
margin-top: 5px;
text-align: center;
}*/
.irow {
padding: 8px 0px 5px 8px;
font-size: 18px;
}
.incolumn {
padding: 4px 4px 4px 4px;
font-size: 18px;
}
.row-cont {
margin-top: -40px;
background-color:#9fdfbe;
border-radius: 8px;
padding: 5px 5px 5px 5px;
font-size: 18px;
}
.input-field {
  height: 20px;
  width: 280px;
  padding: 7px 7px 7px 7px;
 }
h4 { 
padding: 1px 1px 1px 1px;
font-size: 15px;
}
#currentPos {
padding: 7px 7px 7px 7px;
}
/*7px 7px 7px 7px;*/
.radio_lab {
border-bottom: 2px ridge black;
}
@media (max-width: 400px) {
  #main {
    width: 100%;
  }
}  
